@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}

.description {
  @apply line-clamp-3;
  font-family: "Poppins", sans-serif;
}

.title {
  @apply line-clamp-1;
  font-family: "Poppins", sans-serif;
}

/* Modal animation */
.modal-open {
  animation: slideUp 0.5s ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
